node_modules
npm-debug.log
README.md
.next
.git
.gitignore
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.vscode
*.swp
*.swo
.DS_Store
admin-system/backend/.venv
admin-system/frontend/node_modules
admin-system/frontend/dist
deploy.sh
